Source: roboparty-head
Section: libs
Priority: optional
Maintainer: changchuanyong <1984715306@qq.com>
Build-Depends: debhelper-compat (= 12), cmake, roboparty-motors (>= 2.2.0)
Standards-Version: 4.5.1

Package: roboparty-head
Architecture: any
Depends: ${misc:Depends}, roboparty-motors (>= 2.2.0)
Description: RoboParty two-axis head controller
 C++ controller library for a two-axis LRO motor head over CAN-FD.
